<div class="w-full flex flex-col">
  <div class="flex bg-[#f6f6f4] p-8 px-100 bg-green-500">
    <div class="container-icons items-center bg-red-500">
      <img src="images/linkedin.png">
      <img src="images/facebook.png">
      <img src="images/twitter.png">
      <img src="images/youtube.png">
      <img src="images/instagram.png">
    </div>
    <div class="flex gap-16 bg-blue-500 p-8">
      <div class="footer-page">
        <p>FILMS</p>
        <a href="" >Features</a>
        <a href="" >Shorts</a>
        <a href="" >Series</a>
      </div>
      <div class="footer-page">
        <p>TECH</p>
        <a href="">Tech at Pixar</a>
        <a href="">RenderMan</a>
        <a href="">Open USD</a>
        <a href="">Software</a>
        <a href="">R&D</a>
        <a href="">Libraries</a>
      </div>
      <div class="footer-page">
        <p>CAREERS</p>
        <a href="">Careers at Pixar</a>
        <a href="">Internships</a>
        <a href="">Life at Pixar</a>
      </div>
      <div class="footer-page">
        <p>MORE</p>
        <a href="">Leaders</a>
        <a href="">Our Story</a>
        <a href="">Events</a>
        <a href="">Pixar in A Box</a>
        <a href="">Supplier</a>
        <a href="">Diversity</a>
        <a href="">FAQ's</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <p>Do Not Sell or Share My Personal Information</p>
    <div>
      <a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-us-state-privacy-rights/"> Your US State Privacy Rights | </a>
      <a href="https://privacy.thewaltdisneycompany.com/en"> Privacy Policy | </a>
      <a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/" >
        Children's Online Privacy Policy |
      </a>
     <a href="https://privacy.thewaltdisneycompany.com/en/privacy-controls/online-tracking-and-advertising/"> Interest Based Ads | 
</a>
    </div>
  </div>
</div>
