<div class="w-full flex flex-col">
  <div class="flex justify-around">
    <div>
      <!-- logos -->
       <p>p</p>
    </div>
    <div>
      <div>
        <p class="footer-page">FILMS</p>
        <a href="" class="footer-link">Features</a>
        <a href="" class="footer-link">Shorts</a>
        <a href="" class="footer-link">Series</a>
      </div>
      <div>
        <p class="footer-page">TECH</p>
        <a href="" class="footer-link"></a>
      </div>
      <div>
        <p class="footer-page"></p>
        <a href="" class="footer-link"></a>
      </div>
      <div>
        <p class="footer-page"></p>
        <a href="" class="footer-link"></a>
      </div>
    </div>
  </div>
  <div></div>
</div>
